<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Users</title>
</head>

<body style="background-color: lightblue">

    <h1>All Users from Database</h1>
    <hr>
    <button type="submit"><a href="{% url 'input' %}">Back to Input</a></button>
    <hr>

    {% for users in user_data_all %}

        {% if users.profile_image %}
            <img src="{{ users.profile_image.url }}" alt="image" width="240">
        {% endif %}

        <h2>Username: <span style="color: orangered">{{ users.username }}</span></h2>
        <h2>Database ID: <span style="color: orangered">{{ users.id }}</span></h2>
        <h2>Profile Name: <span style="color: orangered">{{ users.name }}</span></h2>
        <hr>
    {% endfor %}

</body>
</html>