<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form style="padding-left: 100px;">
		<div style="border: 2px solid red; width: 500px; height: 350px; padding-top: 50px; margin-left: 30px;  float: left;">
			<label style="margin-left: 190px; font-size: 50px;">
				Input
			</label><br>
			<button style="margin-left: 160px; width: 200px; height: 200px">
				Submit
			</button>
		</div>
		<div style="border: 2px solid red; width: 500px; height: 400px;float: right; margin-right: 40px;  ">
			
			<img src="blog.jpg" style="width: 500px;" height="300px;">
			<p style="margin-left: 160px; ">
				ID:
			</p>
			<p style="margin-left: 160px; ">
				Name:
			</p>
		</div>
	</form>
</body>
</html>