<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Input</title>
</head>

<body style="background-color: lightblue">

    <h1>Input an Username for matching</h1>
    <hr>
    <hr>

    <form method="post" action="{% url 'input' %}">
        {% csrf_token %}

        <h4>input 'username' here</h4>

        <input type="text" min="1" name="username" placeholder="enter username..." required>
        <br><br>
        <button type="submit">SUBMIT</button>
    </form>

</body>
</html>